<span style="color:orange">
 <h2> Databircks-Assignemnt 2 (Basic Data Cleaning Transformation)
</span>
  <h5>
    <span style="color:red">
<b>Author: Deepak Goyal <br>
   <a> adeus.azurelib.com </a><br>
   Email at: admin@azurelib.com
</span>

In [7]:
# Importing all the required data
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

from pyspark.sql.functions import *

In [31]:
# Read the dataset
df= spark.read.csv("EmployeeData-Assignment 2.csv",header=True,inferSchema=True)

In [57]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- creationDate: timestamp (nullable = true)
 |-- bonus: double (nullable = false)

In [32]:
df.show(5)

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 5 rows

<b> Find the count of duplicate employee records in the input file (based on id)?

In [33]:
# Write your code using the Spark Function
dup_emp = df.drop_duplicates(['id']).count()
print('Count of duplicate employee records in the input file (based on id):',dup_emp)

Count of duplicate employee records in the input file (based on id): 971

<b> Find out how many records have Gender value missing.

In [34]:
# Write your code using the Spark Function
mis_gender = df.filter(df.gender.isNull()).count()
print('Records have Gender value missing:',mis_gender)

Records have Gender value missing: 28

d
<b> Are there any missing values in the "bonus" field? If so, filled them defualt bonus 100.

In [47]:
print('Bonus missing null values count',df.filter(df.bonus.isNull()).count())

Bonus missing null values count 0

In [48]:
# Write your code using the Spark Function
mis_bonus = df.filter(df.bonus.isNull()).count()
if mis_bonus>0:
    df = df.fillna(100,'bonus')

In [49]:
print('Bonus updated null values count',df.filter(df.bonus.isNull()).count())

Bonus updated null values count 0

d
<b> Are there any employees with negative salary or bonus amounts in the input file? If so, how many?

In [63]:
# Write your code using the Spark Function
df.filter((df.salary<0)|(df.bonus<0)).show(5)

+---+----------+---------+-----+------+------+------------+-----+
| id|first_name|last_name|email|gender|salary|creationDate|bonus|
+---+----------+---------+-----+------+------+------------+-----+
+---+----------+---------+-----+------+------+------------+-----+

d
<b> Replace all the null/emtpy value in email column with admin@azurelib.com

In [64]:
df.filter(df.email.isNull()).count()

115

In [65]:
# Write your code using the Spark Function
df = df.fillna('admin@azurelib.com',['email'])

In [66]:
df.filter(df.email.isNull()).count()

0

d
<b> Remove all the records where any record has any null values. Find out the total count of the records now.

In [79]:
count = 0
for i in df.columns:
    c = df.filter(col(i).isNull()).count()
    count = count+c
print('Total number of Null values in table before dropping:',count)

Total number of Null values in table before dropping: 365

In [80]:
# Write your code using the Spark Function
df = df.dropna()

In [81]:
count = 0
for i in df.columns:
    c = df.filter(col(i).isNull()).count()
    count = count+c
print('Total number of Null values in table After dropping:',count)

Total number of Null values in table After dropping: 0

In [85]:
df.columns

['id',
 'first_name',
 'last_name',
 'email',
 'gender',
 'salary',
 'creationDate',
 'bonus']

In [89]:
old_col = df.columns
new = ['id1',
 'first_name1',
 'last_name1',
 'email1',
 'gender1',
 'salary1',
 'creationDate1',
 'bonus1']

for i in range(len(old_col)):
    df = df.withColumnRenamed(old_col[i],new[i])

df.show()

+---+-----------+----------+--------------------+-------+-------+-------------------+--------+
|id1|first_name1|last_name1|              email1|gender1|salary1|      creationDate1|  bonus1|
+---+-----------+----------+--------------------+-------+-------+-------------------+--------+
|  1|     Valene|    Ingley|vingley0@livejour...| Female|  44104|1957-09-09 16:44:40|   100.0|
|  2|   Lynnelle|     Hurll| lhurll1@answers.com| Female| 112411|1907-05-10 17:38:56|   100.0|
|  3|    Miranda|     Train|   mtrain2@imgur.com| Female|  91073|1941-01-24 16:05:23|12875.54|
|  4|     Dulsea|      Foss|dfoss3@dagondesig...| Female| 193291|1942-05-09 20:59:39|   100.0|
|  5|     Anatol|   Dunklee| adunklee4@google.de|   Male|  22175|1950-07-26 16:28:00| 1432.12|
|  6|      Baily|    Antony| bantony5@sfgate.com|   Male| 127337|1913-10-14 11:25:33|   100.0|
|  7|     Eunice|    Cardus|ecardus6@scientif...| Female| 136574|1901-11-02 15:09:47|38676.94|
|  8|   Aubrette|   Lippett| alippett7@nifty.com| Female| 165713|1919-12-16 08:20:42|60150.66|
|  9|    Sibylla| Sickamore|ssickamore8@faceb...| Female| 107243|2020-03-15 15:00:30|   100.0|
| 11|       Coop|     Richt|   crichta@sogou.com|   Male|  19964|1939-02-13 16:18:24|56973.41|
| 12|   Giuseppe|   Scimoni|gscimonib@craigsl...|   Male| 176531|1967-04-06 07:23:03|   100.0|
| 13|     Lovell|   Iorizzo|liorizzoc@cpanel.net|   Male| 189150|1949-06-06 16:25:20| 41474.8|
| 14|        Deb|     Mogra|   dmograd@bbc.co.uk| Female| 197829|1997-07-27 14:55:52|46528.57|
| 15|   Hastings|  Jelliman|hjellimane@histat...|   Male| 179296|1915-07-05 07:02:06|80194.64|
| 17|      Gilly|    Fownes|gfownesg@redcross...| Female|   2527|1946-07-30 21:10:57|   100.0|
| 19|      Maris| Chatelain| mchatelaini@unc.edu| Female| 190047|2008-01-11 17:16:21|76469.65|
| 20|     Casper|   Aughtie|    caughtiej@vk.com|   Male|  38689|1982-04-06 05:13:49| 80404.8|
| 21|     Kristo|   Giraudy|  admin@azurelib.com|   Male| 152116|1962-08-16 21:27:30| 5982.54|
| 22|      Becki|     Conry|bconryl@examiner.com| Female|  10203|2003-02-07 10:00:05|47067.23|
| 23|       Edie|     Orniz|eornizm@moonfruit...| Female|  81920|1982-10-03 14:48:25|20019.85|
+---+-----------+----------+--------------------+-------+-------+-------------------+--------+
only showing top 20 rows