<span style="color:orange">
 <h2> Databircks-Assignemnt 1 (Basic Common Transformation)
</span>
  <h5>
    <span style="color:red">
<b>Author: Deepak Goyal <br>
   <a> adeus.azurelib.com </a><br>
   Email at: admin@azurelib.com
</span>

In [1]:
# Importing all the required data
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

from pyspark.sql.functions import *

In [2]:
# Read the dataset
df= spark.read.csv("EmployeeData-Assinemnt 1.csv",header=True,inferSchema=True)

In [3]:
df.show(5)

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 5 rows

<b>How many employees are in the input file?

In [4]:
# Write your code using the Spark Function
employee_count = df.count()
print("No of employee in the file: ", employee_count)

No of employee in the file:  1000

<b> What is the average salary of all the employees?

In [5]:
# Write your code using the Spark Function
avg_salary = df.select(round(avg('salary'),2).alias('Average_Emp_Salary'))
avg_salary.show()

+------------------+
|Average_Emp_Salary|
+------------------+
|         100011.38|
+------------------+

<b> How many male and female employees are there in the input file?

In [6]:
# Write your code using the Spark Function
df1 = df.groupBy('gender').count()
df1.filter((df.gender=='Male') | (df.gender=='Female')).show()

+------+-----+
|gender|count|
+------+-----+
|Female|  501|
|  Male|  471|
+------+-----+

<b> Who is the employee with the highest salary?

In [7]:
# Write your code using the Spark Function
df2 = df.select(concat(col('first_name'),lit(" ") ,col('last_name')).alias('Employee_Name'),col('salary'))

df3= df2.sort(df2.salary.desc()).limit(1)
df3.show()

+-----------------+------+
|    Employee_Name|salary|
+-----------------+------+
|Alfonso Hanbridge|199846|
+-----------------+------+

<b> What is the total bonus amount paid to all the employees?

In [8]:
# Write your code using the Spark Function
df4 = df.select(round(sum(col('bonus')),2).alias('Total_Bonus')).show()

+------------+
| Total_Bonus|
+------------+
|4.25048123E7|
+------------+

d
<b> How many employees were hired in the year 2020?

In [9]:
# Write your code using the Spark Function
x = df.filter(col('creationDate').between('2020-01-01','2020-12-31')).count()
print('No of employees hired in the year 2020:',x)

No of employees hired in the year 2020: 7

d
<b> Who are the top 5 employees with the highest salaries?

In [10]:
# Write your code using the Spark Function
df5 = df2.sort(col('salary').desc()).limit(5)
df5.show()

+-----------------+------+
|    Employee_Name|salary|
+-----------------+------+
|Alfonso Hanbridge|199846|
| Dermot Letchford|199484|
| Jennee Ballingal|198873|
|  Griswold Kocher|198688|
|  Baryram Whitham|198672|
+-----------------+------+

d
<b> What is the total salary paid to all male employees?

In [11]:
# Write your code using the Spark Function
df6 = df.groupBy(df.gender).agg(sum(df.salary).alias('Total_salary')).filter(df.gender=='Male')
df6.show()

+------+------------+
|gender|Total_salary|
+------+------------+
|  Male|    44253777|
+------+------------+

d
<b> Who is the employee with the highest bonus amount?

In [12]:
# Write your code using the Spark Function# Write your code using the Spark Function
df7 = df.select(concat(df.first_name,lit(' '),df.last_name).alias('Full_Name'),df.bonus.alias('Bonus'))
df7.sort(col('bonus').desc()).limit(1).show()

+---------------+--------+
|      Full_Name|   Bonus|
+---------------+--------+
|Franni Chessell|99993.16|
+---------------+--------+

d
<b> What is the earliest creation date of any employee in the input file?

In [13]:
# Write your code using the Spark Function
z = df.filter(df.creationDate.isNotNull())
z.orderBy(z.creationDate.asc()).limit(1).show()

+---+----------+---------+--------------------+------+------+-------------------+-------+
| id|first_name|last_name|               email|gender|salary|       creationDate|  bonus|
+---+----------+---------+--------------------+------+------+-------------------+-------+
|697|    Norina|  Gotobed|ngotobedjc@illino...|Female|106852|1900-07-08 06:23:29|5268.28|
+---+----------+---------+--------------------+------+------+-------------------+-------+

d
<b> How many employees have a salary greater than 100,000?

In [14]:
# Write your code using the Spark Function
x = df.filter(df.salary>100000).count()
print('No of employees have a salary greater than 100,000:',x)

No of employees have a salary greater than 100,000: 480

d
<b> Who is the female employee with the highest salary?

In [15]:
# Write your code using the Spark Function
df9 = df.select(concat(df.first_name,lit(' '),df.last_name).alias('Full_Name'),df.gender.alias('Gender'),df.salary.alias('Salary'))
df9 = df9.filter(df.gender=='Female')
df9.sort(df9.Salary.desc()).limit(1).show()

+----------------+------+------+
|       Full_Name|Gender|Salary|
+----------------+------+------+
|Jennee Ballingal|Female|198873|
+----------------+------+------+

d
<b> What is the total bonus amount paid to female employees?

In [16]:
# Write your code using the Spark Function
df10 = df.filter((col('Gender') == 'Female') & (col('Bonus').isNotNull()))
df10.groupBy(col('Gender')).agg(sum(col('Bonus'))).show()

+------+-------------+
|Gender|   sum(Bonus)|
+------+-------------+
|Female|2.132315359E7|
+------+-------------+

d
<b> How many employees have a salary between 50,000 and 75,000?

In [17]:
# Write your code using the Spark Function
df11 = df.filter(df.salary.between(50000,75000)).count()
print('No of employees having a salary between 50,000 and 75,000:',df11)

No of employees having a salary between 50,000 and 75,000: 117

d
<b> Who are the top 10 employees with the highest bonuses?

In [18]:
# Write your code using the Spark Function
df12 = df.sort(df.bonus.desc())
df12.limit(10).show()

+---+----------+----------+--------------------+------+------+-------------------+--------+
| id|first_name| last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+----------+--------------------+------+------+-------------------+--------+
|915|    Franni|  Chessell|fchessellpe@meetu...|Female|101905|1973-09-18 10:14:15|99993.16|
|830|     Asher|     Dupoy|adupoyn1@kickstar...|  Male|  NULL|1999-07-07 13:34:32|99985.66|
|199|    Lovell|    Ingall|lingall5i@so-net....|  Male|125216|1974-10-01 23:30:52|99932.43|
|537|  Sullivan|    Gyenes|sgyenesew@creativ...|  Male| 63180|1952-03-05 12:17:00| 99845.6|
|653|    Jessie|     Grgic| jgrgici4@census.gov|Female| 20861|2013-08-02 12:38:32|99650.89|
|896|     Nicol|    Bruton|nbrutonov@4shared...|  Male| 85665|1985-12-19 03:47:06|99581.27|
|819|     Nonah|  Tompkiss|ntompkissmq@vista...|Female| 70157|1992-12-14 17:47:12|99046.27|
|382|      Andy|     Morch|amorchal@reuters.com|Female| 41851|1911-01-12 00:10:06|99033.16|
|160|      Swen|Hinrichsen|shinrichsen4f@bli...|  Male| 88408|1902-07-19 14:18:12|98721.92|
|635|   Dorotea|     Kynan|dkynanhm@plala.or.jp|Female|156337|1987-12-12 09:26:14|98639.27|
+---+----------+----------+--------------------+------+------+-------------------+--------+

d
<b> What is the latest creation date of any employee in the input file?

In [19]:
# Write your code using the Spark Function
z = df.filter(df.creationDate.isNotNull())
z.orderBy(z.creationDate.desc()).limit(1).show()

+---+----------+---------+-------------------+------+------+-------------------+--------+
| id|first_name|last_name|              email|gender|salary|       creationDate|   bonus|
+---+----------+---------+-------------------+------+------+-------------------+--------+
|114|   Hadrian|     Emma|hemma35@booking.com|  Male| 62794|2023-03-24 14:50:38|75485.86|
+---+----------+---------+-------------------+------+------+-------------------+--------+

d
<b> How many employees have a salary less than 50,000?

In [20]:
# Write your code using the Spark Function
print("No of employees have a salary less than 50,000:",df.filter(df.salary<50000).count())

No of employees have a salary less than 50,000: 234

d
<b> Who are the top 3 employees with the lowest salaries?

In [21]:
# Write your code using the Spark Function
df12 = df.filter(df.salary.isNotNull())
df12.orderBy(df12.salary.asc()).limit(3).show()

+---+----------+----------+--------------------+------+------+-------------------+--------+
| id|first_name| last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+----------+--------------------+------+------+-------------------+--------+
|809|  Hercules|Pollington|hpollingtonmg@chi...|  Male|   109|1936-08-10 16:43:14| 57493.2|
|381|     Olwen| O'Scanlon| ooscanlonak@usa.gov|Female|   184|2017-10-11 06:21:17|22415.01|
|542| Heriberto|      NULL| hsurmeyersf1@un.org|  Male|   479|               NULL|51871.41|
+---+----------+----------+--------------------+------+------+-------------------+--------+

d
<b> What is the average bonus amount paid to all employees?

In [22]:
# Write your code using the Spark Function
df13 = df.filter(df.bonus.isNotNull())
x = df13.select(avg('salary')).collect()[0][0]
print('The average bonus amount paid to all employees:',x)

The average bonus amount paid to all employees: 100726.68614993646

d
<b> How many employees have a bonus greater than their salary?

In [23]:
# Write your code using the Spark Function
z = df.filter(df.salary<df.bonus).count()
print('No of employees have a bonus greater than their salary:',z)

No of employees have a bonus greater than their salary: 194