<span style="color:orange">
 <h2> Databircks-Assignemnt 4: Advance String Manupulation Transformation)
</span>
  <h5>
    <span style="color:red">
<b>Author: Deepak Goyal <br>
   <a> adeus.azurelib.com </a><br>
   Email at: admin@azurelib.com
</span>

In [1]:
# Importing all the required data
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

from pyspark.sql.functions import *

In [2]:
# Read the dataset
df= spark.read.csv("EmployeeData-4.csv",header=True,inferSchema=True)

In [3]:
df.show(5)

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 5 rows

<b> What is the abbreviated version of each employee's last name, with the first letter and the two following letters included?

In [4]:
# Write your code using the Spark Function
df1 = df.select(df.last_name)
df1 = df1.withColumn('Abb_Name',substring(df1.last_name,1,3))
df1.show(5)

+---------+--------+
|last_name|Abb_Name|
+---------+--------+
|   Ingley|     Ing|
|    Hurll|     Hur|
|    Train|     Tra|
|     Foss|     Fos|
|  Dunklee|     Dun|
+---------+--------+
only showing top 5 rows

d
<b> What is the domain name of each employee's email address, so that their emails can be filtered and routed to the correct department?

In [5]:
# Write your code using the Spark Function
df2 = df.withColumn('Domain_Name',split(df.email,'@').getItem(1))
df2 = df2.select(col('email'),col('Domain_Name'))
df2.show(5)

+--------------------+---------------+
|               email|    Domain_Name|
+--------------------+---------------+
|vingley0@livejour...|livejournal.com|
| lhurll1@answers.com|    answers.com|
|   mtrain2@imgur.com|      imgur.com|
|dfoss3@dagondesig...|dagondesign.com|
| adunklee4@google.de|      google.de|
+--------------------+---------------+
only showing top 5 rows

d
<b> In an effort to protect their privacy, what is each employee's name spelled backwards?

In [6]:
# Write your code using the Spark Function
df3 = df.withColumn('Combine_Name',concat(df.first_name,lit(' '),df.last_name))
df3 = df3.select(df3.Combine_Name)
df3 = df3.withColumn('reverse_name',reverse(df3.Combine_Name))
df3.show(5)

+--------------+--------------+
|  Combine_Name|  reverse_name|
+--------------+--------------+
| Valene Ingley| yelgnI enelaV|
|Lynnelle Hurll|llruH ellennyL|
| Miranda Train| niarT adnariM|
|   Dulsea Foss|   ssoF aesluD|
|Anatol Dunklee|eelknuD lotanA|
+--------------+--------------+
only showing top 5 rows

d
<b> In order to make their email addresses harder to guess, what is each employee's email address spelled backwards?

In [7]:
# Write your code using the Spark Function
df4 = df.withColumn('reverse_email',reverse(df.email))
df4 = df4.select(df4.email,df4.reverse_email)
df4.show(5)

+--------------------+--------------------+
|               email|       reverse_email|
+--------------------+--------------------+
|vingley0@livejour...|moc.lanruojevil@0...|
| lhurll1@answers.com| moc.srewsna@1llruhl|
|   mtrain2@imgur.com|   moc.rugmi@2niartm|
|dfoss3@dagondesig...|moc.ngisednogad@3...|
| adunklee4@google.de| ed.elgoog@4eelknuda|
+--------------------+--------------------+
only showing top 5 rows

d
<b> What is each employee's first name, repeated twice, to improve personalization of emails and messages?

In [8]:
# Write your code using the Spark Function
df5 = df.select(df.first_name)
df5 = df5.withColumn('repeated_name',concat(df5.first_name,df5.first_name))
df5.show(5)

+----------+----------------+
|first_name|   repeated_name|
+----------+----------------+
|    Valene|    ValeneValene|
|  Lynnelle|LynnelleLynnelle|
|   Miranda|  MirandaMiranda|
|    Dulsea|    DulseaDulsea|
|    Anatol|    AnatolAnatol|
+----------+----------------+
only showing top 5 rows

d
<b> What is the country code of each employee's email domain, which can help identify global market opportunities?

In [9]:
# Write your code using the Spark Function
df6 = df.withColumn('Domain_Name',split(df.email,'@').getItem(1))
df6 = df6.withColumn('code',split(df6.Domain_Name,'\\.').getItem(1))
df6 = df6.select(df6.email,df6.code)
df6.show(5)

+--------------------+----+
|               email|code|
+--------------------+----+
|vingley0@livejour...| com|
| lhurll1@answers.com| com|
|   mtrain2@imgur.com| com|
|dfoss3@dagondesig...| com|
| adunklee4@google.de|  de|
+--------------------+----+
only showing top 5 rows

d
<b> What is the position of the first occurrence of a dot ('.') character in each employee's email address, which can be used to standardize email addresses in a database?

In [10]:
# Write your code using the Spark Function
df7 = df.filter(df.email.isNotNull())
df7 = df7.select(df7.email)
df7 = df7.withColumn('before_dot_count',length(split(df7.email,'\\.').getItem(0)))
df7.sort(df7.before_dot_count).show(5)

+-----------------+----------------+
|            email|before_dot_count|
+-----------------+----------------+
|    fsidey5u@t.co|              10|
|   mfiggfo@a8.net|              10|
|   mguegd@hhs.gov|              10|
|    dgoederf@g.co|              10|
|qogandu@goo.ne.jp|              11|
+-----------------+----------------+
only showing top 5 rows

d
<b> What is the full name and email address of each employee, concatenated with a space separator, for use in email communication?

In [11]:
# Write your code using the Spark Function
df8 = df.select(df.first_name,df.last_name,df.email)
df8 = df8.withColumn('full_name_email',concat(df8.first_name,lit(" "),df8.last_name,lit(' '),df8.email))
df8.show(5)

+----------+---------+--------------------+--------------------+
|first_name|last_name|               email|     full_name_email|
+----------+---------+--------------------+--------------------+
|    Valene|   Ingley|vingley0@livejour...|Valene Ingley vin...|
|  Lynnelle|    Hurll| lhurll1@answers.com|Lynnelle Hurll lh...|
|   Miranda|    Train|   mtrain2@imgur.com|Miranda Train mtr...|
|    Dulsea|     Foss|dfoss3@dagondesig...|Dulsea Foss dfoss...|
|    Anatol|  Dunklee| adunklee4@google.de|Anatol Dunklee ad...|
+----------+---------+--------------------+--------------------+
only showing top 5 rows

d
<b> What is the first letter of each employee's first name in uppercase, followed by the rest of the name in lowercase, to ensure consistency and proper capitalization?

In [12]:
# Write your code using the Spark Function
df9 = df.select(df.first_name)
df9 = df9.withColumn('cap_name',initcap(df9.first_name))
df9.show(5)

+----------+--------+
|first_name|cap_name|
+----------+--------+
|    Valene|  Valene|
|  Lynnelle|Lynnelle|
|   Miranda| Miranda|
|    Dulsea|  Dulsea|
|    Anatol|  Anatol|
+----------+--------+
only showing top 5 rows