<span style="color:orange">
 <h2> Databircks-Assignemnt 3 (Basic String Manupulation Transformation)
</span>
  <h5>
    <span style="color:red">
<b>Author: Deepak Goyal <br>
   <a> adeus.azurelib.com </a><br>
   Email at: admin@azurelib.com
</span>

In [1]:
# Importing all the required data
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

from pyspark.sql.functions import *

In [2]:
# Read the dataset
df= spark.read.csv("EmployeeData-3.csv",header=True,inferSchema=True)

In [3]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- creationDate: timestamp (nullable = true)
 |-- bonus: double (nullable = true)

In [4]:
df.show(5)

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 5 rows

<b> How many employees have a first name that starts with the letter 'J'?

In [5]:
# Write your code using the Spark Function
df1 = df.select(upper(df.first_name).alias('first_name'))
x = df1.filter(df1.first_name.like('J%')).count()
print("No of employees that have first name that starts with the letter 'J':",x)

No of employees that have first name that starts with the letter 'J': 43

d
<b> How many employees have a last name that ends with the letter 's'?

In [6]:
# Write your code using the Spark Function
df2 = df.select(lower(df.last_name).alias('lower_last_name'))
x = df2.filter(df2.lower_last_name.like('%s')).count()
print("No of employees that have last name that ends with the letter 's':",x)

No of employees that have last name that ends with the letter 's': 81

d
<b> What is the length of the longest first name?

In [7]:
df3 = df.filter(df.first_name.isNotNull())
df3 = df3.select(df.first_name,df.last_name)
df3 = df3.withColumn('length_first_name',length(df.first_name))
df3.show(3)

+----------+---------+-----------------+
|first_name|last_name|length_first_name|
+----------+---------+-----------------+
|    Valene|   Ingley|                6|
|  Lynnelle|    Hurll|                8|
|   Miranda|    Train|                7|
+----------+---------+-----------------+
only showing top 3 rows

In [8]:
x = df3.select(max(df3.length_first_name)).collect()[0][0]
print('Length of the longest first name:',x)
df3.filter(df3.length_first_name==x).show()

Length of the longest first name: 15
+---------------+---------+-----------------+
|     first_name|last_name|length_first_name|
+---------------+---------+-----------------+
|Helen-elizabeth| McGrayle|               15|
+---------------+---------+-----------------+

d
<b> What is the length of the shortest last name?

In [9]:
# Write your code using the Spark Function
df3.sort(df3.length_first_name.asc()).limit(1).show()

+----------+---------+-----------------+
|first_name|last_name|length_first_name|
+----------+---------+-----------------+
|        Ki|  Gammill|                2|
+----------+---------+-----------------+

d
<b> What is the email domain of the employee with the highest salary?

In [10]:
# Write your code using the Spark Function
x = df.select(max(df.salary)).collect()[0][0]
df4 = df.filter(df.salary==x)
df4.select(df.email).show()

+--------------------+
|               email|
+--------------------+
|ahanbridger3@webs...|
+--------------------+

d
<b> What is the first name of the employee with the email address that contains the substring 'hr'?

In [11]:
# Write your code using the Spark Function
df5 = df.filter(df.email.like('%hr%'))
df5.select(df.first_name).limit(1).show()

+----------+
|first_name|
+----------+
|      NULL|
+----------+

d
<b> What is the last name of the employee with the email address that ends with the domain '.com'?

In [12]:
# Write your code using the Spark Function
df6 = df.filter(df.email.like('%.com'))
df6.select(df.last_name).limit(1).show()

+---------+
|last_name|
+---------+
|   Ingley|
+---------+

d
<b> How many employees have an email address that contains their last name?

In [13]:
# Write your code using the Spark Function
df7 = df.select(lower(col('last_name')).alias('last_name'),lower(col('email')).alias('email'))
df7 = df7.filter(df7.last_name.isNotNull())

In [14]:
df7.filter(df7.email.contains(df7.last_name)).show(5)
x = df7.filter(df7.email.contains(df7.last_name)).count()
print("Number of employees with their last name in the email:",x)

+---------+--------------------+
|last_name|               email|
+---------+--------------------+
|   ingley|vingley0@livejour...|
|    hurll| lhurll1@answers.com|
|    train|   mtrain2@imgur.com|
|     foss|dfoss3@dagondesig...|
|  dunklee| adunklee4@google.de|
+---------+--------------------+
only showing top 5 rows

Number of employees with their last name in the email: 795

d
<b> What is the email of the employee with the first name that contains a space character?

In [15]:
# Write your code using the Spark Function
df8 = df.select(lower(df.first_name),lower(df.last_name),df.email)
df8 = df8.filter((df.first_name.contains(' ')))
df8.show()

+-----------------+----------------+-----+
|lower(first_name)|lower(last_name)|email|
+-----------------+----------------+-----+
|           jo ann|       hansemann| NULL|
+-----------------+----------------+-----+

d
<b> What is the email of the employee with the last name that contains a hyphen character?

In [16]:
# Write your code using the Spark Function
df8 = df.select(lower(df.first_name),lower(df.last_name),df.email)
df8 = df8.filter((df.first_name.like('%-%') & df.email.isNotNull()))
df8.select(df.email).show()

+--------------------+
|               email|
+--------------------+
|hmcgrayle8u@addth...|
| abeateyim@wired.com|
|hbaldacchinom1@cd...|
+--------------------+