In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [10]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [26]:
df = spark.read.csv("EmployeeData-Assinemnt 1.csv", header=True, inferSchema=True, sep =',')

In [27]:
df.show(5)

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    NULL|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    NULL|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    NULL|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 5 rows

In [32]:
df1=df.groupBy('gender').count().al
df1.show()

GroupedData[grouping expressions: [gender], value: [id: int, first_name: string ... 6 more fields], type: GroupBy]